[Desktop Entry]
Name=Nova Browser
Comment=Lightweight browser with home shortcuts and themes
Exec=nova-browser %U
Icon=io.github.blhcode.nova-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
